body {background-color: #f9dda9;}
h1 {font-size: 30px; font-family: "Times New Roman"; font-weight: bold; color: #000000; margin-bottom: -30px; margin-left: 20px; font-style: italic}
p {margin-left: 20px}
h2 {font-size: 24px; font-weight: normal; margin-bottom: -20px;}
h3 {font-size: 18px; font-weight: normal; margin-top: 25px; }
h4 {background-color: #000000; margin-bottom: -20px;}
h5 {margin-top: 30px; margin-bottom: -10px; font-size: 18px; color: white}
.myheader {background-color: #f2870e; margin-left: -10px; margin-top: -20px}
tr {text-align: left; vertical-align: top;}
.ending {text-align: center; font-size: 16px}
input {font-size: 16px}
